fastapi
uvicorn
pydantic
python-dotenv
gotrue
supabase
postgrest
storage3
websockets
python-jose[cryptography]
stripe
apscheduler
openai
email-validator
colorthief
sqlmodel
asyncpg
sqlalchemy[asyncio]
jose
elevenlabs
